body {
  background-color: dimgray;
  touch-action: manipulation;
}

#vn-state {
  white-space: pre;
}

#vn-div {
  overflow: hidden;
  background: white;
  position: relative;
  margin: 0 auto;
  width: 1280px;
  height: 720px;
}

#vn-textbox-renderer {
  font-family: "Source Code Pro";
  font-weight: bold;
  font-size: 32px;
  line-height: 1;
  text-shadow: 2px 2px 0px black;
  color: white;
  user-select: none;
  -moz-user-select: none;
  height: 100%;
  position: relative;
  z-index: 30;
}

.vn-arrow {
  position: absolute;
  right: 13.9%;
  bottom: 2.8%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 10px 0 10px;
  border-color: white transparent transparent transparent;

  filter: drop-shadow(2.5px 2.5px 0px black);
  z-index: 30;
}

.vn-adv-textbox {
  position: absolute;
  left: 13.3%;
  bottom: 1.67%;
  width: 73.4%;
  height: 178px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: linear;
}

.vn-adv-nametag {
  position: absolute;
  left: 14.1%;
  bottom: 25.8%;
  padding: 2px;
  box-sizing: border-box;
  text-shadow: 3px 3px 0px black;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: linear;
}

#vn-decision-renderer {
  height: 73.6%; /*with textbox shown TODO handle without*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Source Code Pro";
  font-weight: bold;
  font-size: 32px;
  line-height: 1;
  text-shadow: 2px 2px 0px black;
  color: white;
  user-select: none;
  -moz-user-select: none;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 40;
}

.vn-decision-item {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 0;
  text-align: center;
  transition-property: transform;
  transition-duration: 300ms;
}

.vn-decision-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.vn-decision-item-blink {
  animation: vn-decision-anim;
  animation-duration: 100ms;
  animation-iteration-count: 5;
}

#vn-sprite-renderer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  user-select: none;
  -moz-user-select: none;
  z-index: 20;
}

#vn-sprite-renderer img {
  position: absolute;
  top: 0px;
  left: 0px;
  transition-timing-function: linear;
}

#vn-background-renderer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

#vn-actions {
  z-index: 50;
  position: absolute;
  height: 183px;
  bottom: 0px;
  width: 100%;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 28px;
  font-family: "Source Code Pro";
  font-weight: 600;
  text-shadow: 2px 2px 0 black;
  color: white;
  transition-duration: 500ms;
  user-select: none;
  -moz-user-select: none;
  --ggs: 2.5;
}

@media (pointer: fine) {
  #vn-actions {
    opacity: 0%;
  }
}

#vn-actions:hover {
  opacity: 100%;
}

.vn-action {
  height: 60px;
  width: 11.4%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.4);
}

.vn-action:not(.vn-action-disabled):active,
.vn-pause-menu-item:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.vn-action i {
  filter: drop-shadow(1.5px 1.5px 0px black);
}

.vn-action-disabled {
  color: hsl(0, 0%, 30%);
  opacity: 0.3;
}
.vn-action-back {
  position: absolute;
  bottom: 63.7%;
}

.vn-action-menu {
  position: absolute;
  bottom: 18.6%;
  --ggs: 1.5;
}

.vn-action-auto {
  position: absolute;
  bottom: 63.7%;
  right: 0px;
}

.vn-action-skip {
  position: absolute;
  bottom: 18.6%;
  right: 0px;
  --ggs: 1.5;
}

.vn-menu-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.vn-pause-menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 30%;
  width: 30%;
  height: 40%;
}

.vn-pause-menu-item {
  font-size: 28px;
  line-height: 28px;
  font-family: "Source Code Pro";
  font-weight: 600;
  text-shadow: 2px 2px 0 black;
  user-select: none;
  -moz-user-select: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  height: 30px;
  padding: 2px 2px 2px 8px;
}

.vn-saves-container {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.vn-save-item {
  position: relative;
  height: 100px;
  padding: 2px;
  margin-bottom: 5px;
}

.vn-save-new {
  height: 30px;
}

.vn-save-del {
  position: absolute;
  right: 0;
  top: 0;
}

.vn-save-return {
  position: absolute;
  left: 0%;
  bottom: 12%;
  width: 20%;
}

.vn-save-heading {
  font-size: 32px;
  line-height: 32px;
  font-family: "Source Code Pro";
  font-weight: 600;
  text-shadow: 2px 2px 0 black;
  user-select: none;
  -moz-user-select: none;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
}
