body {
  background-color: dimgray
}

#vn-div {
  background: white;
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 768px;
}

#vn-textbox-renderer{
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-shadow: 2px 2px 0px black;
  color: white;
}

.vn-adv-textbox {
  position: absolute;
  bottom: 12px;
  width: 1024px;
  height: 124px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .4);
  overflow: hidden;
  animation: scale-y;
  animation-timing-function: linear;
  animation-duration: 250ms;
}

.vn-adv-nametag {
  position: absolute;
  left: 8px;
  bottom: 130px;
  padding: 2px;
  box-sizing: border-box;
  text-shadow: 2px 2px 0px black;
  background-color: rgba(0, 0, 0, .4);
  overflow: hidden;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: linear;
}