body {
  background-color: dimgray
}

#vn-state {
  white-space: pre
}

#vn-div {
  background: white;
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 600px;
}

#vn-textbox-renderer{
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-shadow: 2px 2px 0px black;
  color: white;
  user-select: none;
  -moz-user-select: none;
}

.vn-arrow{
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13.9px 8px 0 8px;
  border-color: white transparent transparent transparent;
  animation: vn-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  filter: drop-shadow(2px 2px 0px black);
}

.vn-adv-textbox {
  position: absolute;
  bottom: 12px;
  width: 100%;
  height: 106px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .4);
  overflow: hidden;
}

.vn-adv-nametag {
  position: absolute;
  left: 8px;
  bottom: 112px;
  padding: 2px;
  box-sizing: border-box;
  text-shadow: 2px 2px 0px black;
  background-color: rgba(0, 0, 0, .4);
  overflow: hidden;
}